/*=============================================================================================	
	style css decorated by : Web Architect (webarq.com)
==============================================================================================*/
@import url("../fonts/web_font_puravida/stylesheet.css");

body {
	color: #666666;
	font-size: 14px;
	font-family: "oxygenregular";
	padding:0px;
	margin:0px;
	
}

.left {
	float: left;
	display: inline;
}
.right {
	float: right;
	display: inline;
}
.italic { font-style: italic; }
.bold { font-weight: bold; }
.clear {
	clear: both;
	padding: 0;
	margin: 0;
}
figure{padding:0px;margin:0px;}
h1 { font-size: 24px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

 
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 1410px;
	min-width:960px;
	margin: 0 auto;
	position:relative;
}
.wrapper_content_page{
	width:960px;
	margin:auto;
}
.wrapper.wrapper_content{
	width:100%;
}
/* global
----------------------------------------------------------------------------------------------*/
.wrapper_control_carousel{
	width:155px;
	text-align:center;
	margin:auto;
	margin-top:15px;
}
.wrapper_control_carousel .nav_left{
	width:20px;
	height:20px;
	float:left;
	background: url(../images/material/arrow_carousel_left.jpg)no-repeat center center;
}
.wrapper_control_carousel .nav_left a{color:transparent}
.wrapper_control_carousel .nav_right{
	width:20px;
	height:20px;
	float:left;
	background: url(../images/material/arrow_carousel_right.jpg)no-repeat center center;
}
.wrapper_control_carousel .nav_right a{color:transparent}
.wrapper_control_carousel .label_center{
	width:115px;
	font-family: 'oxygenregular';
	font-size:14px;
	color:#72b422;
	float:left;
	text-align:center;
	height:20px;
	line-height:20px;
}
.scroll_down_icon{
	background: url(../images/material/scroll_down_icon.png)no-repeat center center;
	width: 26px;
	height: 15px;
	position: absolute;
	bottom: 40px;
	left: 0px;
	right: 0px;
	margin: auto;
	cursor:pointer;
}

.overlay_popup{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background: rgba(0,0,0, 0.5);
	width:100%;
	height:100%;
	z-index:5000;
	display:none;
	 
}
 
.wrapper_popup{
	width:820px;
	height:560px;
	background:#ffffff;
	margin:auto;
	top:20%;
	position:relative;
	overflow:hidden;
}
.wrapper_popup_title{
	 font-family: 'walkway_boldregular';
	 font-size:48px;
	 color:#000000;
	 letter-spacing:4px;
	 height:110px;
	 width:100%;
	 background-color:#f0f0f0;
	 line-height:110px;
	 text-align:center;
	 position:relative;
}
.close_pop{
	width:40px;
	height:40px;
	background: url(../images/material/close_pop.jpg)no-repeat center center;
	position:absolute;
	right:0px;
	top:0px;
	cursor:pointer;
}
.wrapper_form_pop .sign_up{
	float: left;
	width: 349px;
	padding-top: 90px;
	padding-left: 30px;
	height:360px;
	position:relative;
	
}
.wrapper_form_pop .sign_in{
	float: left;
	width: 439px;
	height: 450px;
	border-left: 1px dotted #d8d8d8;
	position:relative;

}
.wrapper_form_pop .sign_in [type=text]:nth-child(1){
	margin-bottom:20px;
}
.wrapper_form_pop .sign_in [type=text]{
	height: 56px;
	width: 358px;
	border:1px solid #d8d8d8;
	font-family: 'oxygenregular';
	font-size:14px;
	color:#333333;
	padding-left:20px;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.wrapper_form_pop .sign_in [type=text]::-webkit-input-placeholder {
  color:#333333;
}

.wrapper_form_pop .sign_in [type=text]:-moz-placeholder { 
  color:#333333;  
}

.wrapper_form_pop .sign_in [type=text]::-moz-placeholder { 
   color:#333333; 
}

.wrapper_form_pop .sign_in [type=text]:-ms-input-placeholder {  
   color:#333333;  
}
.wrapper_form_pop .sign_in .sign_in_wrap{
	width:380px;
	margin:auto;
}
.wrapper_form_pop .sign_in .sign_in_wrap .row_btn{
	display:block;
}
.wrapper_form_pop .sign_in .sign_in_wrap .row_btn .signin{
	width:120px;
	height:62px;
	font-family: 'oxygenbold';
	color:#ffffff;
	font-size:14px;
	line-height:62px;
	text-align:center;
	background: url(../images/material/bg_pop_signin_btn_right.png)no-repeat center center;
	border:0px;
	border-radius:7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	text-transform: uppercase;
	float:left;
}
.wrapper_form_pop .sign_in .sign_in_wrap .row_btn .signin_with_fb{
	width:210px;
	height:62px;
	font-family: 'oxygenbold';
	color:#ffffff;
	font-size:14px;
	line-height:62px;
	text-align:center;
	background: url(../images/material/bg_pop_signin_fb_btn_right.png)no-repeat center center;
	border:0px;
	border-radius:7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	text-transform: uppercase;
	float:left;
}
 .space_or{
	width:45px;
	height:62px;
	float:left;
	font-family: 'oxygenbold';
	font-size:14px;
	color:#999999;
	line-height:62px;
	text-align:center;
 }

.wrapper_form_pop h3{
	margin:0px;
	padding:0px;
	font-family: 'walkway_boldregular';
	font-size:34px;
	color:#333333;
}
.wrapper_form_pop .sign_up h3{
	margin-bottom:7px;
}
.wrapper_form_pop .sign_in h3{
	font-size:32px;
	margin-bottom:7px;
	margin-top:38px;
}
.wrapper_form_pop h4{
	margin:0px;
	padding:0px;
	font-family: 'walkway_boldregular';
	font-size:20px;
	color:#333333;
}
.wrapper_form_pop .sign_up h4{
	margin-bottom:25px;
}
.wrapper_form_pop .sign_in h4{
	margin-bottom:25px;
}
.wrapper_form_pop p{
	margin:0px;
	padding:0px;
	font-family: 'oxygenregular';
	font-size:14px;
	color:#666666;
	line-height:20px;
	word-break: break-word;
}
.wrapper_form_pop .sign_up  p{
	width:315px;
}
.wrapper_form_pop .btn_signup{
	font-family: 'oxygenbold';
	width:200px;
	height:62px;
	color:#ffffff;
	font-size:14px;
	line-height:62px;
	text-align:center;
	background: url(../images/material/bg_pop_signin_btn.png)no-repeat center center;
	border-radius:7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	text-transform: uppercase;
	margin-top:70px;
}
.wrapper_form_pop a{
	text-decoration:none;
	color:#ffffff;
	font-size:14px;
}
.wrap_remember_forgot{
	height: 25px;
	line-height: 25px;
	margin-top:20px;
	margin-bottom:20px;
}
.wrapper_form_pop .sign_in input[type=checkbox]:not(old),
.wrapper_form_pop .sign_in input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

.wrapper_form_pop .sign_in input[type=checkbox]:not(old) + label,
.wrapper_form_pop .sign_in input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 34px;
  background   : url('../images/material/checks.png') no-repeat 0 0;
  line-height  : 24px;
  font-family: 'oxygenregular';
  color:#666666;
  font-size:14px;
}

.wrapper_form_pop .sign_in input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.wrapper_form_pop .sign_in input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
.remember_me{
	width:150px;
	float:left;
}
.forgot_password{
	width:115px;
	float:right;
}
.forgot_password a{
	font-family: 'oxygenregular';
	color:#333333;
	font-size:14px;
}	 
 .forgot_password a{
	color:#72b422;
 }
.banner_content{
	margin: auto;
	width: 100%;
	height:600px;
}
.errorSummary{
	border:1px solid #e7656a;
	width:938px;
	min-height: 60px;
	display:block;
	border-radius: 3px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-o-border-radius: 3px; 
	-khtml-border-radius: 3px;
	background: #ff969a url(../images/material/notif_icon.png)no-repeat 17px 16px;
	margin-top:20px;
}
.errorSummary ul{
	margin:0px;
	padding:20px 20px 20px 65px;
}
.errorSummary ul li{
	margin:0px;
	padding:0px;
	display:block;
	list-style:none;
	font-family: 'oxygenregular';
	color:#ffffff;
	font-size:12px;
	line-height:16px;
}
.errorSummary.hide{
	display:none;
}

/*style parallax
----------------------------------------------------------------------------------------------*/
#middle.par_after_fixed_page{position:relative; z-index:0;}
.par_top_scroll{position:relative;}
.par_absolute_page{position:relative;top:0;z-index:1;}
#middle.par_fixed_page{position:fixed; z-index:-1;top:0px;left:0;right:0;bottom:0;}

/* style button
----------------------------------------------------------------------------------------------*/
#btn_login{}

/* header
----------------------------------------------------------------------------------------------*/
header { position:fixed; z-index:1;top:0px; }
.header{
	position:fixed;
	width:100%;
	height:auto;
}
header.header_content{
	position:relative;
}
.header.header_content{
	position:relative;
}
.header .sign_in{
	position: absolute;
	z-index: 2000;
	margin-top: 30px;
	text-align: center;
	width: 40px;
	margin-left:30px;
	left:0;
	top:0;
	cursor:pointer;
}
.header .sign_in img{
	margin:0;
	padding:0;
}
.header .sign_in .label{
	font-family: 'oxygenregular';
	font-size:12px;
	color:#ffffff;
	margin:0;
	padding:0;
	position: relative;
	top: 3px;
}
.header .sign_in .label.label_g{
	color:#72b422;
}
.header .sign_in .img_signin{
	width:24px;
	height:26px;
	background: url(../images/material/sign_in_icon.png)no-repeat center center;
	margin:auto;
}
.header .sign_in .img_signin.img_signin_g{
	background: url(../images/material/sign_in_icon_menu.png)no-repeat center center;
}
.header .cart_home{
	cursor:pointer;
}
.header .cart_home .label{
	font-family: 'oxygenregular';
	font-size:12px;
	color:#ffffff;
	margin:0;
	padding:0;
	position: relative;
	top: 1px;
}
.header .cart_home .label.label_g{
	color:#72b422;
}
.header .cart_home .img_cart_home{
	width:34px;
	height:33px;
	background: url(../images/material/cart_icon.png)no-repeat center center;
	margin:auto;
}
.header .cart_home .img_cart_home.img_cart_home_g{
	background: url(../images/material/cart_icon_menu.png)no-repeat center center;
}
.header .menu .logo img{
	margin-left:60px;
	margin-right:60px;
	margin-top: 20px;
}

.header .cart_home{
	position: absolute;
	z-index: 2000;
	margin-top: 25px;
	text-align: center;
	width: 40px;
	margin-right:33px;
	right:0;
	top:0;
}
.header .cart_home img{
	margin:0;
	padding:0;
}
.cart_count:hover{
	background:#639c1d;
}
.cart_count{
	width: 16px;
	height: 16px;
	background: #c4161c;
	font-family: 'walkway_boldregular';
	font-size: 8px;
	color: #fefefe;
	border-radius: 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	line-height: 17px;
	text-align: center;
	position: absolute;
	top: 18px;
	left: 24px;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header .menu .search_wrapper {
	margin-top: 45px;
	margin-left: 30px;
}
 

/* menu
----------------------------------------------------------------------------------------------*/
.menuhide_drop{
	display:none;
}
.menuhide_drop.active{
	display:block;
}
.line_hover {
	height:1px;
	width:1px;
	background-color:#ffffff;
	display:block;
	margin:auto;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
	top: 0px;
}
.header .menu ul li.active:hover > .line_hover{
	opacity:0;
	visibility:hidden;
}
.header .menu ul li:hover > .line_hover{
	height:2px;
	width:30px;
	opacity:1;
	visibility:visible;
	top: -2px;
}
.br_drop_menu{height:100px;background:#000000;width:100%;position:fixed;top:-100px;left:0;right:0;z-index:1;opacity:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
}
.br_drop_menu{
	display:none;
}
.br_drop_menu.active{
	display:block;
}
.br_menu_content{
	height:100px;background:#000000;width:100%;position:relative;
}
.br_menu_content.hide{
	display:none;
}

.br_drop_menu_act{
	top:0;
  z-index:3;
  opacity:1;
  position: fixed;
}
.header .menu{
	position: absolute;
	z-index: 1000;
	width: 975px;
	left: 0;
	right: 0;
	margin: auto;
}
.header .menu .menu_left{
	margin-top:32px;
}
.header .menu .menu_right{
	margin-top:32px;
}
.header .menu ul{
	margin:0;
	padding:0;
	display:block;
}
.header .menu ul li{
	display:inline-block;
	float:left;
	list-style:none;
	margin-left:15px;
	margin-right:15px;
}

.header .menu a{
	font-family: 'walkway_boldregular';
	font-size:16px;
	color:#ffffff;
	letter-spacing:0.5px;
	text-transform:uppercase;
	text-decoration:none;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:15px;
	padding-left:15px;
	border-radius:5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border:2px solid transparent;
	display:block;
}
.header .menu a.active{
	border:2px solid #ffffff;
}
.header .menu a.active:hover{
	
}
.header .br_drop_menu .menu a{
	color:#999999;
}
.header .br_drop_menu .menu a.active{
	border:2px solid #72b422;
	color: #72b422;
}
.header .br_drop_menu .menu .menu_left{
	margin-top:30px;
}
.header .br_drop_menu .menu .menu_right{
	margin-top:30px;
}
/* middle
----------------------------------------------------------------------------------------------*/
#middle { position: relative; }
section { position: relative; }
#middle.home{
	width:100%;
	background:transparent;
}
#middle.home .tagline{
	margin:auto;
	height:400px;
	width:665px;
	text-align:center;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
}
 
#middle.home .tagline img{margin:auto;}
#middle.home .tagline h3{
	font-family: 'walkway_boldregular';
	font-size:100px;
	color:#ffffff;
	letter-spacing:5px;
	text-transform:uppercase;
	line-height:90px;
	margin:0px;
	padding:0px;
	margin-bottom:25px;
	margin-top: 10px;
}
#middle.home .tagline p{
	font-family:'oxygenlight';
	font-size:24px;
	color:#ffffff;
	line-height:30px;
	margin:0px;
	padding:0px;
	margin-bottom: 50px;
}
#middle.home .tagline a{
	font-family: 'walkway_boldregular';
	font-size: 14px;
	color: #fffefe;
	letter-spacing: 0.5px;
	padding: 0px;
	padding-top: 16px;
	padding-bottom: 15px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	width: 176px;
	margin: auto;
	position:relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#middle.home .tagline a:hover{
	background:#639c1d;
}
.wrapper_product{
	padding-top:150px;
}
#middle.our_product{
	width:100%;
	height:1000px;
	background:white;
}
#middle.our_product h2.title_page{
	font-family: 'walkway_boldregular';
	font-size:60px;
	color:#333333;
	letter-spacing:2px;
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
}
#middle.our_product .bx-wrapper .bx-controls-direction a{
	display: block;
	width: 88px;
	height: 88px;
	 
	border-radius: 80px;
}


#middle.our_product .bx-wrapper .bx-prev:hover{
	background: #639c1d url(../images/material/arrow_ourproduct.png)no-repeat 33px center;
	
}
#middle.our_product .bx-wrapper .bx-prev{
	left: -88px;
	background: black url(../images/material/arrow_ourproduct.png)no-repeat 33px center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#middle.our_product .bx-wrapper .bx-next:hover{
	background: #639c1d url(../images/material/arrow_ourproduct_next.png)no-repeat 39px center;
}
#middle.our_product .bx-wrapper .bx-next{
	right: -88px;
	background: black url(../images/material/arrow_ourproduct_next.png)no-repeat 39px center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
 
.wrapper_list_ourproducts{
	width:940px;
	display: block;
	margin: auto;
	margin-top:110px;
}
.bxslider_ourproducts .wrapper_list_ourproducts .ourproducts_left{
	width:380px;
}
.bxslider_ourproducts .wrapper_list_ourproducts .ourproducts_right{
	width: 540px;
	padding-left: 20px;
}

.wrapper_list_ourproducts .ourproducts_right h3{
	margin:0px;
	padding:0px;
	font-family: 'walkway_boldregular';
	font-size:90px;
	color:#000000;
	letter-spacing:2px;
	padding-top: 20px;
}
.wrapper_list_ourproducts .ourproducts_right h4{
	margin:0px;
	padding:0px;
	font-family: 'walkway_boldregular';
	font-size:18px;
	color:#333333;
	letter-spacing:2px;
	text-transform: uppercase;
	margin-top: -7px;
	margin-bottom: 20px;
}
.wrapper_list_ourproducts .ourproducts_right p{
	margin:0px;
	padding:0px;
	font-family: 'oxygenregular';
	font-size:14px;
	color:#666666;
	line-height:20px;
	width:460px;
}
.wrapper_list_ourproducts .ourproducts_right a{
	font-family: 'oxygenregular';
	color:#72b422;
	font-size:14px;
	display:block;
	clear:both;
	text-decoration:none;
	position:relative;
	z-index:9999;
}
.wrapper_list_ourproducts .ourproducts_right a span.link_our_product{
	clear:both;
	padding-right:16px;
	background: url(../images/material/arrow_link.png)no-repeat right center;
	min-height:15px;
	
}
.ourproducts_right ul.wrapper_icon_list{
	margin:0px;
	padding:0px;
	margin-top: 40px;
	margin-bottom: 35px;
	display:inline-block;
}
.ourproducts_right ul.wrapper_icon_list li.icon_list_ourproduct{
	display:inline-block;
	float:left;
	margin-right: 45px;
	margin-bottom:20px;
}
.ourproducts_right ul.wrapper_icon_list li.icon_list_ourproduct .icon_img{
	float:left;
	height:45px;
}
.ourproducts_right ul.wrapper_icon_list li.icon_list_ourproduct .icon_text{
	float:left;
	margin-top: 6px;
	padding-left:8px;
}
.icon_text h5{
	margin:0px;
	padding:0px;
	font-family: 'oxygenbold';
	font-size:12px;
	color:#333333;
}
.icon_text h6{
	margin:0px;
	padding:0px;
	font-family: 'oxygenregular';
	font-size:12px;
	color:#666666;
}
#middle.our_product .bx-wrapper .bx-pager{
	width: 940px;
 
	z-index: 0;
	position: absolute;
	bottom: 0;
	top: -375px;
	right: 0;
	margin: auto;
	left: 0;
	text-align: center;
 
}
#middle.our_product .bx-wrapper .bx-pager.bx-default-pager a{
	background: url(../images/material/control_ourproduct_bg.png)no-repeat center center;
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	right: 0px;
	left: 0;
	margin-bottom: 0px;
	float: left;
	display: inline-block;
}
#middle.our_product .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: url(../images/material/control_ourproduct_bg_a.png)no-repeat center center;
}
#middle.our_product .bx-wrapper .bx-pager .bx-pager-item{
	display:inline-block;
}
#middle.our_product .bx-controls{
	top: 22px;
	 
	left: 0;
	right: 0;
	margin: auto;
}


/*par_webelieve*/
#middle.par_webelieve{
	width:100%;
	height:600px;
	background: url(../images/material/par_bg_webelieve.jpg)no-repeat center center;
	
}
.wrapper_par_webelieve{
	position: absolute;
	height: 272px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
#middle.par_webelieve .wrapper_par_webelieve h5{
	font-family: 'walkway_boldregular';
	font-size:60px;
	color:#fefefe;
	letter-spacing:2px;
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
}
#middle.par_webelieve .wrapper_par_webelieve h6{
	font-family:'oxygenlight';
	font-size:30px;
	color:#fffefe;
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
	margin-top: 20px;
}
#middle.par_webelieve .wrapper_par_webelieve .wrapper_par_webelieve_list{
	width: 824px;
	display: block;
	margin: auto;
	margin-top: 40px;
	clear: both;
	display: flex;
}
#middle.par_webelieve .wrapper_par_webelieve .wrapper_par_webelieve_list ul{margin:0px;padding:0px;}
#middle.par_webelieve .wrapper_par_webelieve .wrapper_par_webelieve_list ul li{
	font-family: "oxygenregular";
	font-size:20px;
	color:#fffefe;
	line-height:36px;
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
	text-align:left;
	list-style:none;
}
#middle.par_webelieve .wrapper_par_webelieve .wrapper_par_webelieve_list .list_par_webelieve_left{float:left;margin-right:20px;}
#middle.par_webelieve .wrapper_par_webelieve .wrapper_par_webelieve_list ul.list_par_webelieve_left li span{
	padding-left:35px;
	background: url(../images/material/crosslist_icon.png)no-repeat left center;
	min-height:20px;
}
#middle.par_webelieve .wrapper_par_webelieve .wrapper_par_webelieve_list .list_par_webelieve_right{float:left;margin-left:20px;}
#middle.par_webelieve .wrapper_par_webelieve .wrapper_par_webelieve_list ul.list_par_webelieve_right li span{
	padding-left:35px;
	background: url(../images/material/checklist_icon.png)no-repeat left center;
	min-height:20px;
}

/*best_seller*/
.wrap_slide{position:relative}
.wrapper_best_seller{
	padding-top:130px;
}
#middle.best_seller{
	width:100%;
	background:white;
}
#middle.best_seller h2.title_page{
	font-family: 'walkway_boldregular';
	font-size:45px;
	color:#000000;
	letter-spacing:2px;
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
}
.slider_base_seller{
	width:100%;
}
.slider_base_seller .slide h4.title_slide_base{
	font-family:'oxygenlight';
	font-size:18px;
	color:#666666;
	text-align:center;
	width:100%;
	margin:0;
	padding:0;
	margin-top:30px;
}
#middle.best_seller .bx-wrapper .bx-controls-direction a{
	display:none;
}

#middle.best_seller .bx-wrapper .bx-pager{
	display:none;
}
#middle.best_seller .bx-wrapper{
	margin-top:70px;
}
/*noche*/
.wrapper_noche{
	padding-top:105px;
	padding-bottom: 130px;
}
#middle.noche{
	width:100%;
	background:white;
}
#middle.noche h2.title_page{
	font-family: 'walkway_boldregular';
	font-size:45px;
	color:#000000;
	letter-spacing:2px;
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
}
.slider_noche{
	width:100%;
}
.slider_noche .slide h4.title_slide_base{
	font-family:'oxygenlight';
	font-size:18px;
	color:#666666;
	text-align:center;
	width:100%;
	margin:0;
	padding:0;
	margin-top:30px;
}
#middle.noche .bx-wrapper .bx-controls-direction a{
	display:none;
}

#middle.noche .bx-wrapper .bx-pager{
	display:none;
}
#middle.noche .bx-wrapper{
	margin-top:100px;
}

/*par_tagline*/
#middle.par_tagline{
	width:100%;
	height:600px;
	background: url(../images/material/par_tagline_bg.jpg)no-repeat center center;
	position:relative;
}
.wrapper_par_tagline{
	height: 133px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.wrapper_par_tagline h5.tagline_h5{
	font-family: 'oxygenlight';
	font-size: 36px;
	color: #fffefe;
	line-height: 40px;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	font-style: italic;
	margin-bottom: 25px;
}
.wrapper_par_tagline h6.tagline_h6{
	font-family: "oxygenregular";
	font-size: 20px;
	color: #fffefe;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/*grid_home*/
#middle.grid_home{
	background-color:#ffffff;
}
#middle.grid_home .wrapper_instagram{
	text-align:center;
	padding-top: 105px;
}
#middle.grid_home .wrapper_instagram .instagram_connect_icon{
	width:38px;
	height:39px;
	display: block;
	overflow:hidden;
}
#middle.grid_home .wrapper_instagram .instagram_connect_icon .instagram_connect_icon_after{
	width:38px;
	height:39px;
	display: block;
	bottom: -40px;
	position: relative;
	opacity:0.8;
}
#middle.grid_home .wrapper_instagram a{
	display:block;
	width:38px;
	height:39px;
	margin:auto;
}
#middle.grid_home .wrapper_instagram a img{
	margin:auto;
}
#middle.grid_home .wrapper_instagram h5{
	font-family: 'walkway_boldregular';
	font-size: 60px;
	color: #333333;
	letter-spacing:2px;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-transform:uppercase;
	margin-top:20px;
	margin-bottom:70px;
}
#middle.grid_home .grid_home_wrapper{
	width:100%;
	background-color:#ffffff;
}
#middle.grid_home .grid_home_wrapper .grid_home_left{
	width:50%;
	position: relative;
	left: 1px;
}
#middle.grid_home .grid_home_wrapper .grid_home_right{
	width:50%;
}

.grid_width_wrapper{
	width:100%;
	max-height:470px;
}
.grid_width_wrapper .grid_small{
	width:235px;
}
.grid_small .grid_img{
	height:235px;
	position:relative;
	
}
.grid_width_wrapper .grid_large{
	width:470px;
}
.grid_large .grid_img{
	height:470px;
	position:relative;
	overflow:hidden;
}
.grid_img:hover{
	cursor:pointer;
}
/*connect_socmed*/
.wrapper_connect_socmed{
	padding-top: 60px;
	padding-bottom: 115px;
}
.wrapper_connect_socmed .socmed_icon{
	width:42px;
	height:41px;
	display:block;
	margin:auto;
	border-radius: 40px;
	-webkit-border-radius: 40px; 
	-moz-border-radius: 40px; 
	-o-border-radius: 40px; 
	-khtml-border-radius: 40px;
	overflow:hidden;
}

.wrapper_connect_socmed .socmed_icon .socmed_bg{
	width: 42px;
	height: 41px;
	display: block;
	bottom: -43px;
	position: relative;
	opacity:0.8;
	border-radius: 40px;
	-webkit-border-radius: 40px; 
	-moz-border-radius: 40px; 
	-o-border-radius: 40px; 
	-khtml-border-radius: 40px;
}
#middle.connect_socmed{
	width:100%;
	background:white;
}
#middle.connect_socmed h5.socmed{
	font-family: 'oxygenlight';
	font-size: 24px;
	color: #333333;
	line-height: 20px;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}
#middle.connect_socmed ul{
	padding: 0;
	margin: 0;
	display: block;
	margin: auto;
	width: 662px;
	margin-top:33px;
}
#middle.connect_socmed ul li{
	float:left;
	display:inline-block;
	text-align:center;
}
#middle.connect_socmed ul li a{
	text-decoration:none;
	font-family: "oxygenregular";
	font-size: 14px;
	color:#333333;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#middle.connect_socmed ul li a:hover{
	color:#639c1d;
}
 
#middle.connect_socmed ul li img:hover{
	cursor:pointer;
}
#middle.connect_socmed ul li:nth-child(1){
	width:180px;
}
#middle.connect_socmed ul li:nth-child(2){
	width:150px;
}
#middle.connect_socmed ul li:nth-child(3){
	width:150px;
}
#middle.connect_socmed ul li:nth-child(4){
	width:180px;
}
#middle.connect_socmed ul li p.text_socmed{
	font-family: "oxygenregular";
	font-size: 14px;

	text-align: center;
	font-style:italic;
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
}


/*shop_detail*/
#middle.shopdetail{
	
}
.banner_shopdetail{
	height:600px;
}
#middle.shopdetail .content.shopdetail_product{
	
}
.content.shopdetail_product .product_detail_lr{
	padding-top:110px;
	padding-bottom:85px;
}
.content.shopdetail_product .product_img{
	width:480px;
}
.content.shopdetail_product .product_detail{
	width:480px;
}
.content.shopdetail_product .product_detail h2{
	font-family: 'walkway_boldregular';
	font-size:18px;
	color:#333333;
	letter-spacing:0.5px;
	text-transform: uppercase;
	margin:0px;
	padding:0px;
	margin-bottom:3px;
}
.content.shopdetail_product .product_detail h1{
	font-family: 'walkway_boldregular';
	font-size:55px;
	color:#000000;
	letter-spacing:0.5px;
	text-transform: uppercase;
	margin:0px;
	padding:0px;
	line-height:47px;
	margin-bottom: 25px;
}
.product_detail_wrap{
	 
	padding-left:10px;
	padding-right:10px;
}
.product_detail .size_price{
	width:100%;
	height:57px;
	border-top: 1px solid #d8d8d8;
	border-bottom:2px solid #d8d8d8;
	position:relative;
}
.product_detail .size_price .size{
	width:190px;
	text-align:left;
	height: 18px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 20px;
}
.product_detail .size_price .price{
	width:230px;
	text-align: right;
	height: 48px;
	line-height: 48px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	  right: 20px;
}
.product_detail .size_price .size span{
	float:left;
	
}
.product_detail .size_price .size .size_d.active{
	background:#000000;
}
.product_detail .size_price .size .size_d{
	width:18px;
	height:18px;
	background:#999999;
	border-radius:18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	float:left;
	font-family: 'oxygenbold';
	color:#ffffff;
	font-size:10px;
	text-align:center;
	line-height:18px;
	margin-right:5px;
}
.product_detail .size_price .size .label{
	font-family: "oxygenregular";
	font-size: 12px;
	color: #666666;
	margin-left: 5px;
}
.product_detail .size_price .price .price_value span.label_p{
	font-family: "oxygenregular";
	font-size: 12px;
	color: #666666;
	position: relative;
	top: -8px;
}
.product_detail .size_price .price .price_value{
	font-family: 'oxygenbold';
	color:#111111;
	font-size:36px;
}
.product_detail .list_des{
	border-bottom: 1px solid #d8d8d8;
	padding-top: 23px;
	padding-bottom: 25px;
	width: 100%;
	display: inline-block;
}
.product_detail .list_des p{
	font-family: "oxygenregular";
	font-size: 14px;
	color: #000000;
	line-height:24px;
	margin:0px;
	padding:0px;
}
.product_detail .list_des ul{
	margin:0px;
	padding:0px;
}
.product_detail .list_des ul li{
	font-family: "oxygenregular";
	font-size: 14px;
	color: #000000;
	line-height:24px;
	list-style:none;
	padding-left: 25px;
	background: url(../images/material/checklist_icon_product.png)no-repeat left center;
	min-height: 13px;
}
.product_detail .list_det{
	border-top: 2px solid #d8d8d8;
	padding-top: 25px;
	margin-top: 2px;
	display: inline-block;
	width: 100%;
}
.product_detail .list_det ul{
	margin:0px;
	padding:0px;
}
.product_detail .list_det ul li{
	list-style:none;
	display:inline-block;
	float:left;
	margin-right:30px;
}
.product_detail .list_det ul li:last-child{
	margin-right:0px;
}
.product_detail .list_det ul li .list_det_img{
	float:left;
}
.product_detail .list_det ul li .list_det_text{
	float:left;
	padding-left: 8px;
	padding-top: 6px;
}
.product_detail .list_det ul li .list_det_text h5,
.product_detail .list_det ul li .list_det_text h6{
	margin:0px;
	padding:0px;
}
.product_detail .list_det ul li .list_det_text h5{
	font-family: 'oxygenbold';
	color:#333333;
	font-size:12px;
}
.product_detail .list_det ul li .list_det_text h6{
	font-family: "oxygenregular";
	font-size: 12px;
	color: #666666;
}
.product_detail .list_det ul li .list_det_text .list_det_text_size{
	height:14px;
	width:14px;
	background:#999999;
	display:inline-block;
	border-radius:14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	position: relative;
	top: 2px;
	margin-right: 3px;
	margin-left: 6px;
}
.product_detail .list_det ul li .list_det_text .list_det_text_size:first-child{
	margin-left:0px;
}

.content.shopdetail_product .bar_detail{
	height:170px;
	width:100%;
	background: #72b422;
	position:relative;
	background: url(../images/material/bg_bar_form.png)repeat-x center center;
}
.content.shopdetail_product .bar_detail .bar_detail_lr{
	width:925px;
	margin:auto;
}
.content.shopdetail_product .bar_detail .label_l{
	height: 170px;
	line-height: 170px;
	margin-right: 20px;
}
.content.shopdetail_product .bar_detail .form_r{
	height: 90px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 20px;
}
.bar_detail .label_l span{
	margin:0px;
	padding:0px;
	font-family: 'walkway_boldregular';
	font-size:45px;
	color:#2b5c10;
	letter-spacing:0.5px;
	text-transform: uppercase;
}
.bar_detail .label_l span a{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid white;
	padding: 0px;
	margin: 0px;
}
.bar_detail .form_r span.label{
	font-family: 'oxygenbold';
	color:#d6f7ae;
	font-size:10px;
	text-transform:uppercase;
	height: 15px;
}
.bar_detail .form_r span.combo.serving_size .inner_combo{
	width: 130px;
	height: 50px;
	background: url(../images/material/select_serving_s.png)no-repeat center center;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #666666;
	padding-left: 10px;
	line-height: 50px;
}
.bar_detail .form_r select.serving_size{
	width:140px;
	height:50px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #666666;
	border:0px;
	padding: 0px;
	margin: 0px;
}
.bar_detail .form_r .serving_size_w{
	width:140px;
	margin-right:10px;
}
.bar_detail .form_r .delivery_date_w{
	width:190px;
	margin-right:10px;
}
.bar_detail .form_r .date_bar{
	width:190px;
	height:50px;
	background: url(../images/material/input_date_bar.png)no-repeat center center;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #666666;
	border:0px;
	padding: 0px;
	margin: 0px;
}
.bar_detail .form_r span.combo.qty_val .inner_combo{
	width: 70px;
	height: 50px;
	background: url(../images/material/select_qty.png)no-repeat center center;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #666666;
	padding-left: 10px;
	line-height: 50px;
}
.bar_detail .form_r select.qty_val{
	width:80px;
	height:50px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #666666;
	border:0px;
	padding: 0px;
	margin: 0px;
}
.bar_detail .form_r .qty_w{
	width:80px;
	margin-right:10px;
}
.bar_detail .form_r  .btn_submit_w{
	
}
.bar_detail .form_r  .btn_submit_w [type=submit]{
	width:160px;
	height:52px;
	border:0px;
	padding:0px;
	margin:0px;
	background: url(../images/material/btn_submit_w.png)no-repeat center center;
	font-family: 'oxygenbold';
	font-size: 14px;
	color: #ffffff;
	line-height:50px;
	text-transform:uppercase;
	position: relative;
	top: 20px;
}
.bar_detail .form_r  .tagline_label_val {
	font-family: 'oxygenbold';
	font-size: 12px;
	color: #9e191e;
	display: block;
	clear: both;
	margin: 0px;
	padding: 0px;
	font-style: italic;
	padding-top: 5px;
}
/*recommended items*/
.wrap_product_size{
	display:block;
	text-align:center;
	width:100%;
	padding-top: 1px;
}
.product_size{
	height:18px;
	width:18px;
	border-radius:18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	background:#999999;
	display:inline-block;
	font-family: 'oxygenbold';
	font-size: 10px;
	color: #ffffff;
	text-align:center;
	line-height:18px;
	margin-left: 2px;
	margin-right: 2px;
}
.product_size.active{
	background:#000000;
}
.wrapper_recommended_items{
	padding-top:85px;
}
#middle.recommended_items{
	width:100%;
	background:white;
	padding-bottom: 95px;
}
#middle.recommended_items h2.title_page{
	font-family: 'walkway_boldregular';
	font-size: 36px;
	color:#000000;
	letter-spacing:2px;
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
}
.slider_recommended_items{
	width:100%;
}
.slider_recommended_items .slide h4.title_slide_base{
	font-family:'oxygenlight';
	font-size: 20px;
	color: #111111;
	text-align:center;
	width:100%;
	margin:0;
	padding:0;
	margin-top:25px;
}
.slider_recommended_items .slide h5{
	margin:0px;
	padding:0px;
	font-family: "oxygenregular";
	font-size: 12px;
	color: #999999;
	text-align:center;
	padding-top:1px;
}
.slider_recommended_items .slide h6{
	margin:0px;
	padding:0px;
	font-family: 'oxygenbold';
	font-size: 18px;
	color: #111111;
	text-align:center;
}
#middle.recommended_items .bx-wrapper .bx-controls-direction a{
	display:none;
}

#middle.recommended_items .bx-wrapper .bx-pager{
	display:none;
}
#middle.recommended_items .bx-wrapper{
	margin-top:70px;
}

/*shopping cart*/
#middle.shopping_cart{
	padding-bottom: 90px;
}
#middle.shopping_cart .content.shopping_cart_w{
	width: 940px;
	margin:auto;
}
#middle.shopping_cart .content.shopping_cart_w h1{
	font-family: 'walkway_boldregular';
	font-size: 45px;
	color:#333333;
	letter-spacing:0.5px;
	padding:0px;
	margin:0px;
	padding-top: 35px;
	padding-bottom: 20px;
}

table.cart_w{
	width:100%;
	border:0px;
	border-collapse: collapse;
}
table.cart_w tr.tr_header{height:80px;width:100%;background:#e8f0df; border: 0px;padding: 0px; margin: 0px;}
table.cart_w tr.tr_header .del_date_wrap{margin-left: 30px;float: left;width: 435px;}
table.cart_w tr.tr_header .del_date_wrap .del_date{font-family: 'oxygenbold';font-size: 12px;color: #545b4b;clear: both;display: block; position: relative;top: 4px;}
table.cart_w tr.tr_header .del_date_wrap .del_date_value{font-family: "oxygenregular";font-size: 14px;color: #2b2f26;clear: both;display: block;}

table.cart_w tr.tr_header .act_cart_wrap{display: block; float: right;height: 35px;line-height: 40px; margin-right: 30px;} 
table.cart_w tr.tr_header .act_cart_wrap .act_update_cart{font-family: 'oxygenbold';font-size: 10px;color: #f05921;float:left;text-transform:uppercase;margin-right: 25px;}
table.cart_w tr.tr_header .act_cart_wrap .act_update_cart a{font-family: 'oxygenbold';font-size: 10px;color: #f05921;float:left;text-transform:uppercase;text-decoration:none;border-bottom: 1px solid #f05921;height: 25px;}
table.cart_w tr.tr_header .act_cart_wrap .act_remove_all{font-family: 'oxygenbold';font-size: 10px;color: #545b4b;float:left;text-transform:uppercase;}
table.cart_w tr.tr_header .act_cart_wrap .act_remove_all a{font-family: 'oxygenbold';font-size: 10px;color: #545b4b;float:left;text-transform:uppercase;text-decoration:none;border-bottom: 1px solid #545b4b;height: 25px;}

table.cart_w tr.tr_title{height:40px;width:100%;font-family:'oxygenlight';font-size: 12px;color: #666666;text-transform:uppercase;text-align:center; border-bottom:1px solid #d8d8d8}
table.cart_w td.td_product{width:470px;}
table.cart_w td.td_price{width:150px;}
table.cart_w td.td_qty{width:160px;}
table.cart_w td.td_total{width:130px;}
table.cart_w td.td_del{width:30px;}
.tr_list_product_w{}
table.cart_w tr.tr_list_product{height: 100px;width:100%;border-bottom: 1px dotted #cccccc;}
table.cart_w tr.tr_list_product td.td_price_val{font-family: "oxygenregular";font-size: 16px;color: #111111;text-align:center}
table.cart_w tr.tr_list_product td.td_total_val{font-family: 'oxygenbold';font-size: 16px;color: #111111;text-align:center}

table.cart_w tr.tr_list_product td.td_product_des .imgleft{height:100px;width:80px;float:left;position:relative;}
table.cart_w tr.tr_list_product td.td_product_des .imgleft img{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}

table.cart_w tr.tr_list_product td.td_product_des .desleft{height:100px;width:365px;float:left; margin-left:20px; word-break: break-all;}
table.cart_w tr.tr_list_product td.td_product_des .desleft h4{font-family: "oxygenregular";font-size: 16px;color: #111111;text-align:left;margin:0px;padding:0px;padding-top: 15px;}
table.cart_w tr.tr_list_product td.td_product_des .desleft h5{font-family: "oxygenregular";font-size: 12px;color: #666666;text-align:left;margin:0px;padding:0px;padding-top: 2px;}

table.cart_w tr.tr_list_product td.td_del_val .btn_del_cart{height:18px;width:18px;background: url(../images/material/btn_del_cart.png)no-repeat center center;display:block;float: right; margin-right: 5px;cursor:pointer;}
table.cart_w tr.tr_list_product td.td_qty_val .qty_wrap{width: 58px;height: 38px;border:1px solid #c3c3c3;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;display:block;  margin: auto;position:relative;overflow: hidden;}
table.cart_w tr.tr_list_product td.td_qty_val .qty_wrap  button{border:0px;margin:0px;padding:0px;display: block;outline:none;cursor:pointer;}
table.cart_w tr.tr_list_product td.td_qty_val .qty_wrap  button.plus{width:21px;height:20px;background: url(../images/material/btn_plus.png)no-repeat center center;position: absolute;top: -1px;right: 0;}
table.cart_w tr.tr_list_product td.td_qty_val .qty_wrap  button.min{width:21px;height:20px;background: url(../images/material/btn_min.png)no-repeat center center;position: absolute;bottom: -1px;right: 0;}
table.cart_w tr.tr_list_product td.td_qty_val .qty_wrap [type=text]{height: 38px;width: 37px;float:left;border:0px;padding:0px;font-family: "oxygenregular";font-size: 14px;color: #333333;text-align:center}

table.cart_w tr.total_price_val{height:50px;width:100%;font-family: 'oxygenbold';font-size: 16px;color: #111111;}
table.cart_w tr.total_price_val span{float:right;margin-right:60px;}

table.cart_w tr.subtotal_price_val{height:60px;width:100%;background:#b9c4ab;}
table.cart_w tr.subtotal_price_val .subtotal_price_val_w{float:right;margin-right: 60px;}
table.cart_w tr.subtotal_price_val .subtotal_pv_label{font-family: 'oxygenbold';font-size: 14px;color: #2b2f26;text-transform:uppercase;margin-right:70px;}
table.cart_w tr.subtotal_price_val .subtotal_pv_val{font-family: 'oxygenbold';font-size: 20px;color: #2b2f26;text-transform:uppercase;}

.btn_action_direct{
	width:100%;
	margin-top: 20px;
}
.btn_action_direct button.btn_continue_shopping{
	width:210px;
	height:60px;
	border: 1px solid #cccccc;
	border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
	font-family: 'oxygenbold';font-size: 14px;color: #666666;text-transform:uppercase;
	background: url(../images/material/btn_continue_shopping.png)no-repeat 15px center;
	padding-left: 35px;
}
.btn_action_direct button.btn_prooceed_to_checkout{
	width:220px;
	height:62px;
	background: url(../images/material/btn_proceed_tc.png)no-repeat center center;
	border:0px;
	margin:0px;
	padding:0px;
	font-family: 'oxygenbold';font-size: 14px;color: #ffffff;text-transform:uppercase;
	float:right;
}

/*checkout*/
ul.menu_checkout_step{
	margin:0px;
	padding:0px;
	height:105px;
	text-align:center;
	border-top:2px solid #d8d8d8;
	background: url(../images/material/bg_line_bar_checkout.png)repeat-x bottom;
}
ul.menu_checkout_step li{
	margin:0px;
	padding:0px;
	display:inline-block;
	height: 100px;
}
ul.menu_checkout_step li span{margin-top:30px;}
ul.menu_checkout_step li span.space_dot{float:left;width:100px;height:100px;background: url(../images/material/space_dot.png)no-repeat center center;margin-top:0px;}
ul.menu_checkout_step li span.lf{float:left;position:relative;top:2px;}
ul.menu_checkout_step li span.rh{float:left;margin-left:10px;}
ul.menu_checkout_step li span.rh h4{
	margin:0px;
	padding:0px;
	font-family: "oxygenregular";
	font-size: 12px;
	color: #999999;
	position:relative;
	bottom:-1px;
	text-align:left;
}
ul.menu_checkout_step li span.rh.active h3{
	font-family: 'oxygenbold';
	color: #333333;
}
ul.menu_checkout_step li span.rh h3{
	margin:0px;
	padding:0px;
	font-family:'oxygenlight';
	font-size: 20px;
	color: #666666;
	text-transform:uppercase;
	position:relative;
	top:-1px;
	text-align:left;
}

ul.menu_checkout_step li span.lf.step_1{
	width:33px;
	height:36px;
	background: url(../images/material/checkout_step1.png)no-repeat center center;
}
ul.menu_checkout_step li span.lf.step_1.active{
	background: url(../images/material/checkout_step1_a.png)no-repeat center center;
}
ul.menu_checkout_step li span.lf.step_2{
	width:44px;
	height:34px;
	background: url(../images/material/checkout_step2.png)no-repeat center center;
}
ul.menu_checkout_step li span.lf.step_2.active{
	background: url(../images/material/checkout_step2_a.png)no-repeat center center;
}
ul.menu_checkout_step li span.lf.step_3{
	width:44px;
	height:36px;
	background: url(../images/material/checkout_step3.png)no-repeat center center;
}
ul.menu_checkout_step li span.lf.step_3.active{
	background: url(../images/material/checkout_step3_a.png)no-repeat center center;
}
ul.menu_checkout_step li span.lf.step_4{
	width:40px;
	height:45px;
	background: url(../images/material/checkout_step4.png)no-repeat center center;
}
ul.menu_checkout_step li span.lf.step_4.active{
	background: url(../images/material/checkout_step4_a.png)no-repeat center center;
}

#middle.checkout_s{
	padding-bottom: 90px;
}
#middle.checkout_s .content.checkout_s_w{
	width: 940px;
	margin:auto;
}
#middle.checkout_s .content.checkout_s_w h1{
	font-family: 'walkway_boldregular';
	font-size: 45px;
	color:#333333;
	letter-spacing:0.5px;
	padding:0px;
	margin:0px;
	padding-top: 35px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 2px;
}
#middle.checkout_s h3.title_form{
	font-family: 'walkway_boldregular';
	font-size: 32px;
	color:#333333;
	margin:0px;
	padding:0px;
	padding-top: 5px;
	padding-bottom: 20px;
}
.wrap_checkout{
	width:100%;
}
.form_signin_checkout{
	display: inline-block;
	margin-top:10px;
	width:100%;
}
.form_signin_checkout .form_signin{
	width:469px;
	float:left;
	border-right: 1px dotted #cccccc;
}
.form_signin_checkout .form_signin .w_form_signin{
	width:420px;
	float:left;
	padding-bottom: 35px;
}
.form_signin_checkout .form_signin .w_form_signin [type=text]{
	height: 56px;
	width: 378px;
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;
}
.form_signin_checkout .form_signin .w_form_signin [type=text]::-webkit-input-placeholder {
	color:#333333;
}

.form_signin_checkout .form_signin .w_form_signin [type=text]:-moz-placeholder { 
	color:#333333; 
}

.form_signin_checkout .form_signin .w_form_signin [type=text]::-moz-placeholder { 
	color:#333333;
}

.form_signin_checkout .form_signin .w_form_signin [type=text]:-ms-input-placeholder {  
	color:#333333;  
}

.row_remember{
	height: 25px;
	line-height: 25px;
	margin-bottom: 20px;
}
.w_form_signin input[type=checkbox]:not(old),
.w_form_signin input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

.w_form_signin input[type=checkbox]:not(old) + label,
.w_form_signin input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 34px;
  background   : url('../images/material/checks.png') no-repeat 0 0;
  line-height  : 24px;
  font-family: 'oxygenregular';
  color:#333333;
  font-size:14px;
}

.w_form_signin input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.w_form_signin input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

.w_form_signin .row_btn{
	display:block;
}
.w_form_signin .row_btn .signin{
	width:140px;
	height:62px;
	font-family: 'oxygenbold';
	color:#ffffff;
	font-size:14px;
	line-height:62px;
	text-align:center;
	background: url(../images/material/bg_signin_checkout.png)no-repeat center center;
	border:0px;
	border-radius:7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	text-transform: uppercase;
	float:left;
}
.w_form_signin .row_btn .signin_with_fb{
	width:210px;
	height:62px;
	font-family: 'oxygenbold';
	color:#ffffff;
	font-size:14px;
	line-height:62px;
	text-align:center;
	background: url(../images/material/bg_pop_signin_fb_btn_right.png)no-repeat center center;
	border:0px;
	border-radius:7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	text-transform: uppercase;
	float:left;
}
.w_form_signin .row_remember .forgot_password{
	font-family: 'oxygenregular';
	color:#333333;
	font-size:14px;
}
.w_form_signin .row_remember .forgot_password a{
	font-family: 'oxygenregular';
	color:#72b422;
	font-size:14px;
}
.w_form_signin .row_btn .space_or{
	width: 55px;
}
.w_new_customer{
	width:420px;
	float:left;
	padding-top: 50px;
	border-top: 1px solid #d8d8d8;
}
.w_new_customer h3{
	font-family: 'walkway_boldregular';
	font-size: 36px;
	color:#333333;
	margin:0px;
	padding:0px;
	margin-bottom: 10px;
}
.w_new_customer p{
	font-family: 'oxygenregular';
	color:#666666;
	font-size:14px;
	text-align:left;
	margin:0px;
	padding:0px;
	line-height:20px;
	margin-bottom:10px;
}
.w_new_customer .btn_create_account{
	height:62px;
	width:200px;
	background: url(../images/material/btn_create_account.png)no-repeat center center;
	margin:0px;
	padding:0px;
	border:0px;
	float:left;
	font-family: 'oxygenbold';
	color: #ffffff;
	font-size:14px;
	text-transform:uppercase;
	margin-top:10px;
}

.form_signin_checkout .form_guest{
	width:470px;
	float:left;
}
.form_signin_checkout .form_guest .w_form_guest{
	width:420px;
	float:right;
}

.form_signin_checkout .form_guest .w_form_guest [type=text]{
	height: 56px;
	width: 378px;
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;
}
.form_signin_checkout .form_guest .w_form_guest [type=text]::-webkit-input-placeholder {
	color:#333333;
}

.form_signin_checkout .form_guest .w_form_guest [type=text]:-moz-placeholder { 
	color:#333333; 
}

.form_signin_checkout .form_guest .w_form_guest [type=text]::-moz-placeholder { 
	color:#333333;
}

.form_signin_checkout .form_guest .w_form_guest [type=text]:-ms-input-placeholder {  
	color:#333333;  
}

.w_form_guest input[type=checkbox]:not(old),
.w_form_guest input[type=radio   ]:not(old){
	width   : 28px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}

.w_form_guest input[type=checkbox]:not(old) + label,
.w_form_guest input[type=radio   ]:not(old) + label{
	display      : inline-block;
	margin-left  : -31px;
	padding-left : 34px;
	line-height: 20px;
	font-family: 'oxygenregular';
	color: #666666;
	font-size: 14px;
	width:380px;
	margin-bottom: 10px;
}
.label_guest_check{
	background   : url('../images/material/checks_guest.png') no-repeat 0 0;
}
.label_guest_check.active{
	background   : url('../images/material/checks_guest_a.png') no-repeat 0 0;
}
.label_guest_check a{
	color:#72b422;
	font-style:italic;
	text-decoration:none;
} 

.w_form_guest input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
.w_form_guest [type=submit]{
	font-family: 'oxygenbold';
	color: #ffffff;
	font-size:14px;
	text-transform:uppercase;
	border:0px;
	width:120px;
	height:62px;
	background   : url('../images/material/btn_form_guest.png') no-repeat 0 0;
	margin-top: 10px;
}

/*checkout2*/
.form_shipping_address{
	display: inline-block;
	margin-top:10px;
	width:100%;
}
.form_shipping_address .w_form_shipping_address{
	width:100%;
	display:block;
}
.form_shipping_address .w_form_shipping_address .row{
	clear:both;
}
.form_shipping_address .w_form_shipping_address .row_l{
	width:460px;
	float:left;
}
.form_shipping_address .w_form_shipping_address .row_r{
	width:460px;
	float:right;
}
.form_shipping_address .w_form_shipping_address .row_area{
	float:left;
	height: 140px;
}
.form_shipping_address .w_form_shipping_address [type=text]{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;
}
.form_shipping_address .w_form_shipping_address .combo select{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	height: 60px;
	width: 460px;
}
.form_shipping_address .w_form_shipping_address .combo option:disabled{
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
}
.form_shipping_address .w_form_shipping_address .combo .inner_combo{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	height: 58px;
	width: 438px;
	padding-left: 20px;
	line-height:60px;
	background   : url('../images/material/arrow_combo.png') no-repeat right 15px center;
}
.form_shipping_address .w_form_shipping_address .row_l [type=text]{
	height: 56px;
	width: 418px;
}
.form_shipping_address .w_form_shipping_address .row_r [type=text]{
	height: 56px;
	width: 418px;
}
.form_shipping_address .w_form_shipping_address .row textarea{
	width: 898px;
	height: 78px;
	resize:none;
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	margin-bottom: 20px;
}
.form_shipping_address .w_form_shipping_address .row_l select{
	height: 60px;
	width: 460px;
}
.form_shipping_address .w_form_shipping_address .row_r select{
	height: 60px;
	width: 460px;
}
.row_shipping_address{
	display:block;
	clear:both;
}
.row_shipping_method{
	display: block;
	clear: both;
	padding-top: 35px;
	margin-top: 35px;
	border-top: 1px solid #d8d8d8;
}
.row_shipping_method input[type=checkbox]:not(old),
.row_shipping_method input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

.row_shipping_method input[type=checkbox]:not(old) + label,
.row_shipping_method input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 34px;
  background   : url('../images/material/checks_radio.png') no-repeat 0 0;
  line-height  : 24px;
  font-family: 'oxygenregular';
  color:#333333;
  font-size:14px;
}

.row_shipping_method input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.row_shipping_method input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
.shipping_value{
	font-family: 'oxygenbold';
	color: #f05921;
	font-size:24px;
	display:block;
	padding-left: 34px;
	height:32px;
}
.row_gift_message{
	display: block;
	clear: both;
	padding-top: 35px;
	margin-top: 35px;
	border-top: 1px solid #d8d8d8;
	padding-bottom: 30px;
	border-bottom: 1px solid #d8d8d8;
}
.row_gift_message input[type=checkbox]:not(old),
.row_gift_message input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

.row_gift_message input[type=checkbox]:not(old) + label,
.row_gift_message input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 34px;
  background   : url('../images/material/checks.png') no-repeat 0 0;
  line-height  : 24px;
  font-family: 'oxygenregular';
  color:#333333;
  font-size:18px;
}

.row_gift_message input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.row_gift_message input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
.wrap_message{
	width: 430px;
	margin-left: 35px;
	margin-top: 20px;
}
.wrap_message [type=text]{
	height: 56px;
	width: 388px;
}
.form_shipping_address .w_form_shipping_address .row .wrap_message textarea{
	height: 88px;
	width: 388px;
	margin-bottom: 0px;
}
.row_btn_act{
	display:block;
	clear:both;
	padding-top:20px;
	border-top:2px solid #d8d8d8;
	margin-top:2px;
}
.wrap_row_btn_act{
	display: block;
	float: right;
}
.row_btn_act button{
	width:120px;
	height:62px;
	background   : url('../images/material/bg_btn_back.png') no-repeat 0 0;
	border:0px;
	font-family: 'oxygenbold';
	color: #ffffff;
	font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
	float:left;
	margin-right:10px;
}
.row_btn_act [type=submit]{
	width:180px;
	height:62px;
	background   : url('../images/material/bg_btn_continue.png') no-repeat 0 0;
	border:0px;
	font-family: 'oxygenbold';
	color: #ffffff;
	font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
	float:left;
}
.toggle_gift_message{
	display:none;
}
/*checkout3*/
.form_payment{
	display: block;
	margin-top: 10px;
	width: 100%;
	
}
.w_form_payment{
	border-bottom: 1px solid #d8d8d8;
}
.form_paymen_l{
	width:598px;
	float: left;
	border-right: 1px dotted #cccccc;
}
.form_paymen_r{
	width:340px;
	float:left;
}
.form_payment input[type=checkbox]:not(old),
.form_payment input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
 
}

.form_payment input[type=checkbox]:not(old) + label{
	display      : inline-block;
	margin-left  : -28px;
	padding-left : 34px;
	background   : url('../images/material/checks.png') no-repeat 0 0;
	 line-height  : 24px;
	font-family: 'oxygenregular';
	color:#333333;
	font-size:14px;
	  margin-bottom: 20px;
}
.form_payment input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 34px;
  background   : url('../images/material/checks_radio.png') no-repeat 0 0;
   line-height  : 24px;
  font-family: 'oxygenregular';
  color:#333333;
  font-size:14px;
  margin-bottom: 20px;
}
.form_payment input[type=radio   ]:not(old) + label.last{margin-bottom:0px;}
.accordion_payment{
	display:none;
}
.form_payment .accordion_payment {
	margin-left:34px;
}
.form_payment .accordion_payment p{
	font-family: 'oxygenregular';
	color:#333333;
	font-size:14px;
	line-height:18px;
	text-align:left;
	margin:0px;
	padding:0px;
	margin-top:5px;
}
.form_payment .accordion_payment .detail_for_radio_bt{
	display:block;
	margin-top:20px;
}
.detail_for_radio_bt .list_bank{
	display: inline-block;
	margin-bottom: 15px;
}
.detail_for_radio_bt .list_bank:last-child{
	margin-bottom:0px;
}
.detail_for_radio_bt span h4,
.detail_for_radio_bt span h5{
	margin:0px;
	padding:0px;
}
.detail_for_radio_bt span h4{
	font-family: 'oxygenregular';
	color:#333333;
	font-size:18px;
}
.detail_for_radio_bt span h5{
	font-family: 'oxygenbold';
	color:#333333;
	font-size:18px;
}
.detail_for_radio_bt span:nth-child(1){
	color:red;
	height:50px;
	width:140px;
	float:left;
	display:block;
	margin-left: 45px;
}
.detail_for_radio_bt span:nth-child(2){
	color:green;
	float:left;
	display:block;
	margin-left: 20px;
	padding-left: 15px;
	width:290px;
}
.form_payment input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.form_payment input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
.w_form_signin{
	width:550px;
	border-bottom:1px solid #d8d8d8;
	padding-bottom: 35px;
	margin-bottom:30px;
}
.w_form_billing{
	width:550px;
	padding-bottom: 50px;
}
.w_form_billing [type=text]{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;
	height: 56px;
	width: 418px;
}
.w_form_billing textarea{
	width: 508px;
	height: 78px;
	resize:none;
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	margin-bottom: 20px;
}
.w_form_billing select{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	height: 60px;
	width: 550px;
}
.w_form_billing .combo option:disabled{
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
}
.w_form_billing .combo .inner_combo{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	height: 58px;
	width: 528px;
	padding-left: 20px;
	line-height:60px;
	margin-bottom:20px;
	background   : url('../images/material/arrow_combo.png') no-repeat right 15px center;
}
.w_form_order_summary{
	width:300px;
	float:right;
}
#middle.checkout_s .w_form_order_summary h3.title_form{
	font-size:24px;
}
.table_order_summary{
	width:300px;
}
.order_Summary_w{
	width:100%;
	border:0px;
	border-collapse: collapse;
}
.order_Summary_w tr.os_title{
	border-bottom:1px solid #c6c6c6;
	font-family: "oxygenregular";
	font-size: 10px;
	color: #999999;
	text-transform:uppercase;
}
.order_Summary_w tr td.os_products{
	width:138px;
	text-align:left;
	padding-bottom:10px;
}
.order_Summary_w tr td.os_qty{
	width:54px;
	text-align:center;
	padding-bottom:10px;
}
.order_Summary_w tr td.os_price{
	width:81px;
	text-align:right;
	padding-bottom:10px;
}
.order_Summary_w tr.os_list_order{
	border-bottom:1px dotted #c6c6c6;
	font-family: "oxygenregular";
	font-size: 12px;
	color: #666666;
}
.order_Summary_w tr.os_list_order td{
	padding-top:15px;
	padding-bottom:15px;
}
.order_Summary_w tr.os_list_order td:nth-child(1){
	text-align:left;
}
.order_Summary_w tr.os_list_order td:nth-child(2){
	text-align:center;
}
.order_Summary_w tr.os_list_order td:nth-child(3){
	text-align:right;
}
.order_Summary_w tr.os_detail{
	border-bottom:1px dotted #c6c6c6;
	text-align:right;
}
.order_Summary_w tr.os_detail td:nth-child(1){
	font-family: "oxygenregular";
	font-size: 14px;
	color: #111111;	
}
.order_Summary_w tr.os_detail td:nth-child(3){
	font-family: 'oxygenbold';
	font-size: 14px;
	color: #111111;
}
.order_Summary_w tr.os_detail.a{
	border-bottom:0px;
}
.order_Summary_w tr.os_detail.b{
	border-bottom:0px;
}
.order_Summary_w tr.os_detail.a td{
	padding-top:18px;
	padding-bottom:5px;
}
.order_Summary_w tr.os_detail.b td{
	padding-top:5px;
	padding-bottom:5px;
}
.order_Summary_w tr.os_detail.c td{
	padding-top:5px;
	padding-bottom:15px;
}
.order_Summary_w tr.os_promocode{
	border-bottom:1px dotted #c6c6c6;
}
.order_Summary_w tr.os_promocode td{
	padding-bottom:30px;
	padding-top:25px;
}
.order_Summary_w tr.os_promocode button{
	width:140px;
	height:62px;
	background   : url('../images/material/bg_btn_apply.png') no-repeat center center;
	border:0px;
	font-family: 'oxygenbold';
	color: #ffffff;
	font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
	float:left;
}
.order_Summary_w [type=text]{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	width: 256px;
	height: 56px;
	margin-bottom:10px;
}
.order_Summary_w tr.os_total td{
	padding-top:35px;
}
.order_Summary_w tr.os_total td:nth-child(1){
	font-family: "oxygenregular";
	font-size: 14px;
	color: #111111;
	text-align:right;
}
.order_Summary_w tr.os_total td:nth-child(3){
	font-family: 'oxygenbold';
	font-size: 14px;
	color: #f05921;
	text-align:right;
}
/*checkout4*/

.table_order_detail{
	width:940px;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 30px;
}
.table_order_detail .table_order_detail_title{
	padding-bottom:20px;
	display:block;
	margin-top: 40px;
}
.table_order_detail .table_order_detail_title span:nth-child(1){
	font-family: 'walkway_boldregular';
	font-size:32px;
	color:#333333;
	text-align:left;
	float:left;
	display: block;
	height: 35px;
}
.table_order_detail .table_order_detail_title span:nth-child(2){
	font-family: "oxygenregular";
	font-size:14px;
	color:#333333;
	text-align:right;
	float:right;
	display: block;
	height: 35px;
	line-height:35px;
}
.table_order_detail .table_order_detail_title span:nth-child(2) b{
	font-family: 'oxygenbold';
	font-weight:normal;
}
.order_detail_w{
	width:100%;
	border:0px;
	border-collapse: collapse;
}
.order_detail_w tr.od_header{
	height:50px;
	width:100%;
	background:#e8f0df;
}
.order_detail_w tr.od_header td span{
	font-family: 'oxygenbold';
	color: #545b4b;
}
.order_detail_w tr.od_header td span.l{
	margin-left:30px;
	float:left;
	font-size: 12px;
	text-align:left;
	line-height:50px;
}
.order_detail_w tr.od_header td span.r{
	margin-right:30px;
	float:right;
	font-size: 14px;
	text-align:right;
	line-height:50px;
}

.order_detail_w tr.od_title{
	height:40px;
	width:100%;
	font-family: 'oxygenlight';
	font-size:12px;
	color:#666666;
	text-transform:uppercase;
	text-align:center;
	border-bottom: 1px solid #d8d8d8;
}
.order_detail_w tr.od_title td:nth-child(1){
	width:456px;
}
.order_detail_w tr.od_title td:nth-child(2){
	width:150px;
}
.order_detail_w tr.od_title td:nth-child(3){
	width:160px;
}
.order_detail_w tr.od_title td:nth-child(4){
	width:160px;
}

.order_detail_w tr.od_list{
	height:100px;
	width:100%;
	border-bottom: 1px dotted #cccccc;
}
.order_detail_w tr.od_list td span.l img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.order_detail_w tr.od_list td span.l{
	height: 100px;
	width: 80px;
	float: left;
	position:relative;
}
.order_detail_w tr.od_list td span.r {
	height: 100px;
	width: 355px;
	float: left;
	margin-left: 20px;
	word-break: break-all;
}
.order_detail_w tr.od_list td span.r h4, .order_detail_w tr.od_list td span.r h5{margin:0px;padding:0px;}
.order_detail_w tr.od_list td span.r h4{
	font-family: "oxygenregular";
	font-size: 16px;
	color: #111111;
	text-align: left;
	padding-top: 30px;
}
.order_detail_w tr.od_list td span.r h5 {
  font-family: "oxygenregular";
  font-size: 12px;
  color: #999999;
  text-align: left;
  padding-top: 2px;
}
.order_detail_w tr.od_list td:nth-child(2){
	font-family: "oxygenregular";
	font-size: 16px;
	color: #111111;
	text-align:center;
}
.order_detail_w tr.od_list td:nth-child(3){
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	text-align:center;
}
.order_detail_w tr.od_list td:nth-child(4){
	font-family: 'oxygenbold';
	color: #111111;
	font-size:16px;
	text-align:center;
}

.order_detail_w tr.od_total {
  height: 50px;
  width: 100%;
  font-family: 'oxygenbold';
  font-size: 16px;
  color: #111111;
}
.order_detail_w tr.od_total span {
	float: right;
	width: 164px;
	text-align: center;
}
.order_detail_w tr.od_detail1{
	background:#e8f0df;
	width:100%;
}
.order_detail_w tr.od_detail2, 
.order_detail_w tr.od_detail3{
	background:#e8f0df;
	width:100%;
}
.order_detail_w tr.od_detail4{
	background:#b9c4ab;
	height:50px;
	width:100%;
	font-family: 'oxygenbold';
}
.order_detail_w tr.od_detail1 td{
	font-family: 'oxygenbold';
	color: #545b4b;
}
.order_detail_w tr.od_detail2 td,
.order_detail_w tr.od_detail3 td
{
	font-family: 'oxygenbold';
	color: #545b4b;
}
.order_detail_w tr.od_detail1 td:nth-child(1){
	width:298px;
}
.order_detail_w tr.od_detail1 td:nth-child(1) span:nth-child(1){
	width:50px;
	font-size:12px;
	margin-right:10px;
	float:left;
	text-align:right;
	margin-left: 40px;
}
.order_detail_w tr.od_detail1 td:nth-child(1) span:nth-child(2){
	font-size:18px;
	float:left;
	height:32px;
	line-height:32px;
	width: 190px;
	overflow: hidden;
}
.order_detail_w tr.od_detail1 td:nth-child(2) span:nth-child(1){
	width:50px;
	font-size:12px;
	margin-right:10px;
	float:left;
	text-align:right;
}
.order_detail_w tr.od_detail1 td:nth-child(2) span:nth-child(2){
	font-size:18px;
	float:left;
	height:32px;
	line-height:32px;
	width: 240px;
	overflow: hidden;
}
.order_detail_w tr.od_detail1 td:nth-child(3){
	font-size: 14px;
	text-transform:uppercase;
	padding-top:25px;
	padding-bottom:8px;
	width: 161px;
}
.order_detail_w tr.od_detail1 td:nth-child(3) span{
	text-align: right;
	display: block;
	padding-right: 60px;
}
.order_detail_w tr.od_detail1 td:nth-child(4){
	font-size: 16px;	
	padding-top:25px;
	padding-bottom:8px;
	width: 162px;
}
.order_detail_w tr.od_detail1 td:nth-child(4) span{
	text-align: right;
	display: block;
	padding-right: 40px;
}

.order_detail_w tr.od_detail2 td:nth-child(1){
	font-size: 14px;
	text-transform:uppercase;
	padding-top:8px;
	padding-bottom:8px;
}
.order_detail_w tr.od_detail2 td:nth-child(1) span{
	text-align: right;
	display: block;
	padding-right: 60px;
}
.order_detail_w tr.od_detail2 td:nth-child(2){
	font-size: 16px;
	padding-top:8px;
	padding-bottom:8px;
}
.order_detail_w tr.od_detail2 td:nth-child(2) span{
	text-align: right;
	display: block;
	padding-right: 40px;
}

.order_detail_w tr.od_detail3 td:nth-child(1){
	font-size: 14px;
	text-transform:uppercase;
	padding-top:8px;
	padding-bottom:25px;
}
.order_detail_w tr.od_detail3 td:nth-child(1) span{
	text-align: right;
	display: block;
	padding-right: 60px;
}
.order_detail_w tr.od_detail3 td:nth-child(2){
	font-size: 16px;
	padding-top:8px;
	padding-bottom:25px;
}
.order_detail_w tr.od_detail3 td:nth-child(2) span{
	text-align: right;
	display: block;
	padding-right: 40px;
}

.order_detail_w tr.od_detail4 td:nth-child(1){
	color: #2a2e25;
	font-size:14px;
	text-transform:uppercase;
}
.order_detail_w tr.od_detail4 td:nth-child(1) span{
	text-align: right;
	display: block;
	padding-right: 60px;
}
.order_detail_w tr.od_detail4 td:nth-child(2){
	color: #2b2f26;
	font-size:20px;
}
.order_detail_w tr.od_detail4 td:nth-child(2) span{
	text-align: right;
	display: block;
	padding-right: 40px;
}

/*account*/
#middle.account_s{
	padding-bottom: 90px;
}
#middle.account_s .content.account_s_w{
	width: 940px;
	margin:auto;
}
.account_s_w .account_s_l{
	width:339px;
	float:left;
	border-right: 1px dotted #cccccc;
	margin-top:65px;
	padding-bottom:60px;
}
.account_s_w .account_s_r{
	width:600px;
	float:left;
	margin-top: 65px;
}
.sidebar_menu{
	width:300px;
}
.sidebar_menu h4{
	margin:0px;
	padding:0px;
	font-family: 'walkway_boldregular';
	font-size:32px;
	color:#333333;
	text-transform:uppercase;
	letter-spacing:1px;
}
.sidebar_menu ul{
	font-family: "oxygenregular";
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	margin-top:20px;
	width:100%;
}
.sidebar_menu ul li{
	display:block;
	list-style:none;
	border-bottom:1px dotted #cccccc;
}
.sidebar_menu ul li:last-child{
	border-bottom:0px;
}
.sidebar_menu ul li a{
	height:60px;
	width:100%;
	display:block;
	line-height:60px;
	text-decoration:none;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #666666;
	text-transform:uppercase;
}
.sidebar_menu ul li a.active{
	font-family: 'oxygenbold';
	color: #72b422;
}
.account_content_r{
	width: 550px;
	float:right;
}
.account_content_r h1{
	margin: 0px;
	padding: 0px;
	font-family: 'walkway_boldregular';
	font-size: 32px;
	color: #333333;
	letter-spacing: 1px;
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	display: block;
	padding-bottom: 15px;
}
.account_content_r .account_delivery_info{
	padding-top:40px;
}
.account_content_r .account_delivery_info.first{
	padding-top: 50px;
	border-top: 2px solid #d8d8d8;
	margin-top: 2px;
}
.account_content_r .account_delivery_info .ad_l{
	width:160px;
	float:left;
}
.account_content_r .account_delivery_info .ad_l .ad_wrapper{
	padding:0px;
	width:150px;
	margin:auto;
}
.account_delivery_info .ad_wrapper{
	display:block;
	padding-left:10px;
	padding-right:10px;
}
.account_delivery_info .ad_wrapper .shipping_address_icon{
	width:150px;
	height:150px;
	background : url('../images/material/shipping_address_icon.jpg') no-repeat center center;
}
.account_delivery_info .ad_wrapper .billing_address_icon{
	width:150px;
	height:150px;
	background : url('../images/material/billing_address_icon.jpg') no-repeat center center;
}

.account_content_r .account_delivery_info .ad_r{
	width:390px;
	float:left;
}
.account_content_r .account_delivery_info .ad_r .ad_wrapper h5{
	font-family: 'oxygenbold';
	font-size:18px;
	color:#72b422;
	text-transform:uppercase;
	margin:0px;
	padding:0px;
	text-align:left;
	margin-bottom: 14px;
}
.account_content_r .account_delivery_info .ad_r .ad_wrapper button{
	width:110px;
	height:22px;
	border:1px solid #acacac;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background : url('../images/material/add_icon.png') no-repeat 10px center;
	font-family: 'oxygenbold';
	font-size:10px;
	color:#999999;
	text-align:left;
	padding:0px;
	padding-left:25px;
}
.account_content_r .account_delivery_info .ad_r .ad_wrapper .ad_wrapper_inner{
	
}
.ad_wrapper_inner ul{
	margin:0px;
	padding:0px;
}

.ad_wrapper_inner ul li h6{
	font-family: "oxygenregular";
	font-size: 12px;
	color: #999999;
	margin: 0px;
	padding: 0px;
	margin-bottom:2px;
	
}
.ad_wrapper_inner ul li p{
	font-family: "oxygenregular";
	font-size: 12px;
	color: #666666;
	margin: 0px;
	padding: 0px;
	line-height:18px;
}
.ad_wrapper_inner ul li{
	width: 175px;
	display: inline-block;
	float: left;
	word-break: break-word;
	min-height: 150px;
	font-family: "oxygenregular";
	font-size: 12px;
	color: #666666;
	margin: 0px;
	padding: 0px;
	line-height:18px;
	margin-right: 10px;
	margin-top: 17px;
}
.ad_wrapper_inner ul li b{
	font-family: 'oxygenbold';
	font-size:14px;
	color:#666666;
	line-height:20px;
}
.ad_wrapper_inner ul li a{
	font-family: 'oxygenbold';
	font-size:10px;
	color:#f05921;
	text-decoration:none;
	text-transform:uppercase;
	margin-top: 5px;
	border-bottom: 1px solid #f27752;
}
.account_s_r input[type=checkbox]:not(old),
.account_s_r input[type=radio   ]:not(old){
  width   : 26px;
  margin  : 0;
  padding : 0;
  opacity : 0;
 
}

.account_s_r input[type=checkbox]:not(old) + label{
	display      : inline-block;
	margin-left  : -28px;
	padding-left : 34px;
	background   : url('../images/material/checks.png') no-repeat 0 0;
	  line-height: 24px;
	font-family: 'oxygenregular';
	color:#333333;
	font-size:14px;
	min-height: 24px;
}
.account_s_r input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 34px;
  background   : url('../images/material/checks_radio.png') no-repeat 0 0;
    line-height: 24px;
  font-family: 'oxygenregular';
  color:#333333;
  font-size:14px;
  min-height: 24px;
}
.account_s_r input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.account_s_r input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
.account_s_r [type=text]{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	height: 56px;
	width: 278px;
}
.form_account_s_r{
	padding-top: 30px;
	border-top: 2px solid #d8d8d8;
	margin-top: 2px;
}
.form_account_s_r .row_as{
	display:block;
	clear:both;
	margin-bottom:10px;
}
.form_account_s_r .row_as:first-child{
	margin-bottom:15px;
}
.form_account_s_r .row_as:last-child{
	padding-top:10px;
}
.form_account_s_r .row_as span{
	display:block;
	font-family: "oxygenregular";
	font-size: 12px;
	color: #666666;
	text-transform:uppercase;
	margin-bottom:2px;
}
.account_s_r textarea{
	width: 508px;
	height: 98px;
	resize:none;
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	text-align:left;
}
.account_s_r select{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	height: 60px;
	width: 400px;
}
.account_s_r .combo option:disabled{
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
}
.account_s_r .combo .inner_combo{
	border:1px solid #d8d8d8;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	height: 58px;
	width: 378px;
	padding-left: 20px;
	line-height:60px;
	background   : url('../images/material/arrow_combo.png') no-repeat right 15px center;
}
.account_s_r [type=submit]{
	width:180px;
	height:62px;
	background   : url('../images/material/bg_btn_update.png') no-repeat 0 0;
	border:0px;
	font-family: 'oxygenbold';
	color: #ffffff;
	font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
	float:left;
	letter-spacing:0.1px;
}

.account_s_r .bar_mo [type=text]{
	width: 128px;
	height: 36px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #333333;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	background   : url('../images/material/datepicker_icon.png') no-repeat right 10px center;
}
.account_s_r .bar_mo [type=text]:first-child{
	margin-left:0px;
}
/*.ui-widget-header{
	border: 1px solid #72b422;
	background: #72b422;
	color: #ffffff;
	font-weight: normal;
	font-family: "oxygenregular";
}*/
/*bxslider 
----------------------------------------------------------------------------------------------*/
.bxslider{padding:0;margin:0;}
.bx-viewport, .bx-wrapper{
	position:relative;
	width:100%;
	height:100% !important;
	top:0;
	left:0;
}
.bxslider, .bxslider li{
	height: 100% !important;;
}
.bxslider li{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.bx-wrapper .bx-viewport{
	border: none !important;
}		
	
/* footer
----------------------------------------------------------------------------------------------*/
footer { position: relative;padding-top:40px; background-color:#ffffff;overflow:hidden;}
.footer{
	height:260px;
	width:100%;
	position:relative;
	background: #ffffff url(../images/material/shadow_footer.png)no-repeat top center;
}
.wrapper_footer{
	width:960px;
	font-family: "oxygenregular";
	font-size: 14px;
	color: #666666;
	margin: 0px;
	padding: 0px;
	margin:auto;
	padding-top:80px;
	
}
.wrapper_footer ul li{
	display:inline-block;
	float:left;
	list-style:none;
	padding-left:12px;
	padding-right:12px;
	border-right:1px solid #666666;
}
.wrapper_footer ul li a{
	font-family: "oxygenregular";
	font-size: 14px;
	color: #666666;
	text-decoration:none;
}
.wrapper_footer ul li a:hover{
	color:#639c1d;
}
.wrapper_footer ul li:last-child{
	border-right:0px;
}
.wrapper_footer ul.footer_menu_left{
	float:left;
	padding:0px;
	margin:0px;
}
.wrapper_footer ul.footer_menu_right{
	float:right;
	padding:0px;
	margin:0px;
}
.wrapper_footer .wrapper_copyright{
	width: 140px;
	position: absolute;
	bottom: 0;
	top: -42px;
	left: 0;
	right: 0;
	margin: auto;
	text-align:center;
}
.wrapper_footer .wrapper_copyright p.text_copyright{
	font-family: "oxygenregular";
	font-size: 12px;
	color: #333333;
	margin:0px;
	padding:0px;
	text-align:center;
	font-style:italic;
	margin-top: 10px;
}
.wrapper_footer .wrapper_copyright .logo_socmed_copyright{
	background: url(../images/material/footer_logo.png)no-repeat top center;
	width:140px;
	height:220px;
}
.logo_socmed_copyright img{
	clear:both;
	display:block;
	margin:auto;
	padding-top: 10px;
}
.logo_socmed_copyright_position{
	position: relative;
	top: 103px;
	width: 20px;
	margin: auto;
}
.logo_socmed_copyright_position .wrap_icon_copyright{
	width:20px;
	height:20px;
	margin-top:6px;
	display:block;
}
.wrap_icon_copyright.instagram_icon_f{
	background: url(../images/material/instagram_footer_icon.png)no-repeat top center;
}
.wrap_icon_copyright.facebook_icon_f{
	background: url(../images/material/facebook_footer_icon.png)no-repeat top center;
}
.wrap_icon_copyright.twitter_icon_f{
	background: url(../images/material/twitter_footer_icon.png)no-repeat top center;
}
.wrap_icon_copyright.message_icon_f{
	background: url(../images/material/message_footer_icon.png)no-repeat top center;
}

.subscribe_newsletter{
	height:60px;
	width:100%;
	background:#000000;
	cursor:pointer;
	font-family: 'walkway_boldregular';
	font-size:24px;
	color:#ffffff;
	letter-spacing:2px;
	text-align:center;
	width:100%;
	margin:0px;
	padding:0px;
	line-height:60px;
	overflow:hidden;
}
.subscribe_newsletter .wrap_s_newsletter{
	height: 60px;
	width: 360px;
	margin:auto;
	overflow:hidden;
}
.subscribe_newsletter .before_h{
	position: relative;
	height: 60px;
	width: 360px;
	margin: auto;
	top:-60px;
}
.subscribe_newsletter .after_h{
	position: relative;
	height: 60px;
	width: 360px;
	margin: auto;
	top:-60px;
}

.subscribe_newsletter span{
	color:#72b422;
}
.subscribe_newsletter_form{
	height:370px;
	width:100%;
	background-color:#000000;
	position:absolute;
	bottom:0px;
	left:0;
	right:0;
	bottom:-370px;
}
.subscribe_newsletter_form h3{
	font-family: 'walkway_boldregular';
	font-size:36px;
	color:#ffffff;
	letter-spacing:2px;
	text-align:center;
	margin:0px;
	padding:0px;
	margin-bottom:15px;
}
.subscribe_newsletter_form h3 span{color:#72b422}
.subscribe_newsletter_form h4{
	font-family: 'oxygenlight';
	font-size:14px;
	color:#999999;
	text-align:center;
	margin:0px;
	padding:0px;
}
.subscribe_newsletter_form .wrap_form_newsletter{
	width: 532px;
	margin: auto;
	margin-top:50px;
}
.subscribe_newsletter_form .wrap_form_newsletter [type=text]{
	height: 44px;
	width: 346px;
	border:2px solid #666666;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:transparent;
	padding-left:20px;
	font-family: 'oxygenregular';
	font-size:12px;
	color:#72b422;
	outline:none;
}
.subscribe_newsletter_form .wrap_form_newsletter [type=submit]{
	background-color:#72b422;
	font-family: 'walkway_boldregular';
	font-size:14px;
	color:#fffefe;
	letter-spacing:2px;
	text-align:center;
	margin:0px;
	padding:0px;
	line-height:50px;
	width:150px;
	height:50px;
	border:0px;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-left: 7px;
}
.subscribe_newsletter_form .wrap_form_newsletter [type=text]::-webkit-input-placeholder {
  color:#72b422;
}

.subscribe_newsletter_form .wrap_form_newsletter [type=text]:-moz-placeholder { /* Firefox 18- */
  color:#72b422;  
}

.subscribe_newsletter_form .wrap_form_newsletter [type=text]::-moz-placeholder {  /* Firefox 19+ */
   color:#72b422; 
}

.subscribe_newsletter_form .wrap_form_newsletter [type=text]:-ms-input-placeholder {  
   color:#72b422;  
}
.subscribe_newsletter_form p.tagline_newsletter{
	font-family: 'oxygenregular';
	font-style:italic;
	font-size:14px;
	color:#666666;
	text-align:center;
	margin:0px;
	padding:0px;
	margin-top: 13px;
}
.subscribe_newsletter_form .wrap_box_newsletter{
	top: 0px;
	position:relative;
}
.close_icon_nav{
	background: url(../images/material/close_icon.png)no-repeat center center;
	height:20px;
	width:20px;
	position:absolute;
	right:40px;
	top:40px;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.close_icon_nav:hover{
	background: url(../images/material/close_icon_hover.png)no-repeat center center;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
	 /* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
   /* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
	  /* Desktop styles */
}
